#name: Update Token Bind Status
#on:
#  workflow_dispatch:
#  schedule:
#    - cron: "0 2 * * *"
#jobs:
#  update:
#    strategy:
#      matrix:
#        go-version: [ 1.20.x ]
#        os: [ ubuntu-latest ]
#    runs-on: ${{ matrix.os }}
#    name: Update
#    steps:
#      - uses: actions/checkout@v3
#        with:
#          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
#          fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository.
#      - uses: actions/cache@v3
#        with:
#          path: |
#            ~/go/pkg/mod
#            ~/.cache/go-build
#            ~/Library/Caches/go-build
#            %LocalAppData%\go-build
#          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
#          restore-keys: |
#            ${{ runner.os }}-go-
#
#      - name: Install Go
#        uses: actions/setup-go@v3
#        with:
#          go-version: ${{ matrix.go-version }}
#
#      - name: Checkout code
#        uses: actions/checkout@v3
#
#      - run: go run main.go
#
#      - name: Commit files
#        id: commit-files
#        run: |
#          git config --local user.email "github-actions[bot]@users.noreply.github.com"
#          git config --local user.name "github-actions[bot]"
#          git add .
#          git commit -m "docs: update token bind status by bot"
#          echo "hasChange=true" >> $GITHUB_OUTPUT
#      - name: Push changes
#        uses: ad-m/github-push-action@master
#        if: ${{ steps.commit-files.outputs.hasChange == 'true' }}
#        with:
#          github_token: ${{ secrets.GITHUB_TOKEN }}
#          branch: ${{ github.ref }}